<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    
    <style>
        #container{
            border: solid;
            background-color: bisque;
            
            overflow: auto;
        }
        
        nav{
            float: left;
            
            
        }
        #main{
            float: right;
            width: 60%;
        }
        
        section{
            border: solid;
        }
    </style>
</head>
<body>
   
<!--   #container>nav>ul>li*3^^+#main>section*3-->
   <div id="container">
       <nav>
           <ul>
               <li>product</li>
               <li>service</li>
               <li>blog</li>
           </ul>
       </nav>
       <div id="main">
           <section>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium voluptatem, placeat explicabo modi nulla quisquam velit incidunt culpa odit, tempore nihil officiis quaerat perspiciatis vitae, accusantium neque mollitia nobis, dolores.</section>
           <section>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis nam eligendi quam maxime error. Assumenda distinctio illo iure consequuntur id pariatur aperiam deserunt, vero quidem maiores, itaque temporibus dolores voluptatum.</section>
           <section>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, nesciunt, nemo quis reiciendis perspiciatis veritatis quae odit dolorum itaque corporis similique quo, amet reprehenderit dolore natus numquam deleniti assumenda rerum.</section>
       </div>
   </div>
    
</body>
</html>